.p1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-variant: small-caps;
    font-style: italic;
    font-size: x-large;
}
.p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.p3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}